@using System.Collections.ObjectModel
@using System.Timers
@using CalendarView.Core.Models
@using CalendarView.Shared.Models
@inject Design Design

<style>
	.notification {
		min-width: 300px;
		max-width: 500px;
		padding: 10px;
		margin-bottom: 7px;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 14px;
		opacity: 0.9;
		transition: opacity 0.3s ease, transform 0.3s ease;
	}

	.notification-information {
		background-color: rgba(0, 123, 255, 0.9);
	}

	.notification-warning {
		background-color: rgba(255, 193, 7, 0.9);
		color: #333;
	}

	.notification-error {
		background-color: rgba(220, 53, 69, 0.9);
	}

	.notification p {
		margin: 0;
		font-size: 14px;
		word-break: break-all;
		word-wrap: break-word;
	}

</style>

<div style="position: absolute; top: 0; left: 0; padding: 20px;">
	@foreach (var notification in Notifications
		          .Where(n => DismissNotificationsAfterSeconds is null || n.CreatedAt.AddSeconds((int)DismissNotificationsAfterSeconds) > DateTime.Now)
		          .TakeLast(MaxNotifications ?? Notifications.Count))
	{
		<div class="notification notification-@notification.Kind.ToString().ToLower()">
			<p>@notification.Message</p>
		</div>
	}
</div>

@code {
	private Timer? _refreshTimer;

	[Parameter] public ObservableCollection<Notification> Notifications { get; set; } = [];
	[Parameter] public int? MaxNotifications { get; set; }

	private long? _dismissNotificationsAfterSeconds;
	[Parameter]
	public long? DismissNotificationsAfterSeconds
	{
		get => _dismissNotificationsAfterSeconds;
		set
		{
			_dismissNotificationsAfterSeconds = value;
			_refreshTimer = value is null ? null : new Timer(TimeSpan.FromSeconds((long)value));
			if (_refreshTimer is null) return;
			_refreshTimer.Elapsed += (_, _) =>
			{
				if (Notifications.Count > 0) InvokeAsync(StateHasChanged);
			};
			_refreshTimer.Start();
		}
	}

	protected override async Task OnInitializedAsync()
	{
		MaxNotifications = Design.MaxNotifications;
		DismissNotificationsAfterSeconds = Design.DismissNotificationsAfterSeconds;
	}

}
