name: Build and test
on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET 10 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Install dependencies
        run: dotnet restore CalendarView.slnf

      - name: Build solution
        run: dotnet build CalendarView.slnf --no-restore --configuration Release
    
      - name: Test
        run: dotnet test CalendarView.slnf --no-restore